
.panel {
   background: #fff;
   padding: 30px;
   border-radius: 10px;
   min-height: 100px;
   width: 1000px;
   max-width: 90%;
   margin: 0 auto;
   box-shadow: 10px 10px 62px -21px rgba(0,0,0,0.47);

    > div {
       list-style: none;
       margin-bottom: 15px;
   }
}